body {
    height: 100vh;
    place-content: center;
    display: grid;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1e1e2f;
    color: white;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background-color: #44445c;
    padding: 20px;
    border-radius: 10px;
}


input[type="text"], input[type="date"] {
    flex: 1;
    border-radius: 5px;
    border: 1px solid #ccc;
}


button.delete-all {
    background-color: rgb(108, 65, 224);
    color: #1e1e2f;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

#filter-button {
    background-color: rgb(108, 65, 224);
    color: #1e1e2f;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

button.done-btn {
    background-color: rgb(108, 65, 224);
    color: #1e1e2f;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}
button.done-btn:hover {
    background-color: #7a4ed1;
}

button.delete-btn {
    background-color: rgb(108, 65, 224);
    color: #1e1e2f;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}
button.delete-btn:hover {
    background-color: #7a4ed1;
}


button.add-todo {
    background-color: rgb(108, 65, 224);
    color: #1e1e2f;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}